@using TP5WebTransactionnel.Areas.Admin.ViewModels
@model AdminMessageViewModel
@{
    ViewData["Title"] = "Message";
}

<div class="text-center">
    <div>
        <h2>Message</h2>
    </div>

    <p>@Model.Message</p>
</div>
